/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/print.scss */
.report_content {
  position: relative;
}
/* line 7, ../sass/print.scss */
.report_content img {
  width: 100%;
  display: none;
}
/* line 11, ../sass/print.scss */
.report_content img.print {
  display: block;
}

/* line 17, ../sass/print.scss */
.langselect, .header, .menubutton, .footer {
  display: none;
}

/* line 21, ../sass/print.scss */
.report_images img {
  display: inline;
}
